body{
    /* background-color: red; */
}
.container{
    padding: 10px;
    padding-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 15px;
    justify-items: center;
    /* background-color: var(--primary); */
}

.buttons{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin-top: 10px;
}

.button{
    width: 140px;
    height: 100%;
}

.link{
    text-decoration: none;
}

