.container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.form{
    padding: 15px;
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 10px;
    /* outline: 1px solid black; */
    max-width: 300px;
}

.input{
    max-width: 100%;
    margin-bottom: 10px;
}

.button{
    width: 300px;
}
